<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label for="password-length">Length</label>
        <input
          class="input"
          type="number"
          id="password-length"
          min="1"
          max="128"
          step="1"
          [(ngModel)]="passwordLength"
        />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox" for="use-lowercase-letters">
            <input
              type="checkbox"
              id="use-lowercase-letters"
              name="use-lowercase-letters"
              [checked]="useLowercaseLetters"
              (change)="onChangeUseLowercaseLetters()"
            />
            Use lowercase letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label for="use-uppercase-letters">
            <input
              type="checkbox"
              id="use-uppercase-letters"
              name="use-uppercase-letters"
              [checked]="useUppercaseLetters"
              (change)="onChangeUseUppercaseLetters()"
            />
            Use uppercase letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label for="use-numbers">
            <input
              type="checkbox"
              id="use-numbers"
              name="use-numbers"
              [checked]="useNumbers"
              (change)="onChangeUseNumbers()"
            />
            Use numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label for="use-symbols">
            <input
              type="checkbox"
              id="use-symbols"
              name="use-symbols"
              (change)="onChangeUseSymbols()"
            />
            Use symbols
          </label>
        </div>
      </div>

      <button
        class="button is-link is-fullwidth"
        type="button"
        id="generate-password"
        (click)="onButtonClick()"
        [disabled]="buttonIsDisabled()"
      >
        Generate!
      </button>

      <div class="box">
        <label for="password">Your Password</label>
        <input
          class="input"
          type="text"
          id="password"
          name="password"
          [value]="password"
        />
      </div>
    </div>
  </div>
</div>
