<h1>Password Generator</h1>

<div>
  <label for="password-length">Enter Length</label>
  <input type="text" id="password-length" name="password-length" />
</div>

<div>
  <label for="use-letters">Use letters</label>
  <input type="checkbox" id="use-letters" name="use-letters" />
</div>

<div>
  <label for="use-numbers">Use numbers</label>
  <input type="checkbox" id="use-numbers" name="use-numbers" />
</div>

<div>
  <label for="use-symbols">Use symbols</label>
  <input type="checkbox" id="use-symbols" name="use-symbols" />
</div>

<div>
  <button type="button" id="generate-password" (click)="onButtonClick()">
    Generate!
  </button>
</div>

<div>
  <label for="password">Your Password</label>
  <input type="text" id="password" name="password" [value]="password" />
</div>
